<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Thunder
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-card>
      <ion-toolbar>
        <ion-title size="large">Thunder</ion-title>
      </ion-toolbar>

      <img src="assets/img/téléchargement.png" class="profil">
     
   
  
   
    
  </ion-card>
  </ion-header>

    <div id="container">
    <P><strong>THEME: </strong></P>
    
  </div>
 
</ion-content>
