.d-f {
    display: flex;
}

.d-b {
    display: block;
}

.d-g {
    display: grid;
}

.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f-s {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-toggle{
    margin-right: 10px;
}